<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {%block title%} Корова-Бык {%endblock%} </title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

{%include 'inc/_nav.html' %}

<div class="container-fluid mt-3">

    <div class="row">
        <div class="col-md-3">
            {% include 'inc/_rools.html' %}
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
        {%include 'inc/_alphabet.html' %}
        </div>

    </div>
</div>
{%include 'inc/_footer.html' %}
<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>


</body>

</html>