<div class="row">
  <div class="col-sm-4">
    <div class="card alert-success" style="width: 7rem;">
      <div class="card-body">
        <h5 class="card-title">a</h5>
        <button type="button" class="btn success btn-sm" >пометить</button>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 7rem;">
      <div class="card-body">
        <h5 class="card-title">б</h5>
        <button type="button" class="btn success btn-sm" data-bs-toggle="notice" >пометить</button>
        </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="card" style="width: 7rem;">
      <div class="card-body">
        <h5 class="card-title">в</h5>
        <button type="button" class="btn success btn-sm" data-bs-toggle="notice" >пометить</button>
        </div>
    </div>
  </div>
</div>
