{% load static %}
<div class="row">

        <div class="letters">
        <button type="button" class="btn btn-sm"><h4>а</h4></button>
        <button type="button" class="btn btn-sm"><h4>б</h4></button>
        <button type="button" class="btn btn-sm"><h4>в</h4></button>
        <button type="button" class="btn btn-sm"><h4>г</h4></button>
        <button type="button" class="btn btn-sm"><h4>д</h4></button>
        <button type="button" class="btn btn-sm"><h4>е</h4></button>
        <button type="button" class="btn btn-sm"><h4>ё</h4></button>
        <button type="button" class="btn btn-sm"><h4>ж</h4></button>
        <button type="button" class="btn btn-sm"><h4>з</h4></button>
        <button type="button" class="btn btn-sm"><h4>и</h4></button>
        <button type="button" class="btn btn-sm"><h4>й</h4></button>
        <button type="button" class="btn btn-sm"><h4>к</h4></button>
        <button type="button" class="btn btn-sm"><h4>л</h4></button>
        <button type="button" class="btn btn-sm"><h4>м</h4></button>
        <button type="button" class="btn btn-sm"><h4>о</h4></button>
        <button type="button" class="btn btn-sm"><h4>п</h4></button>
        <button type="button" class="btn btn-sm"><h4>р</h4></button>
        <button type="button" class="btn btn-sm"><h4>с</h4></button>
        <button type="button" class="btn btn-sm"><h4>т</h4></button>
        <button type="button" class="btn btn-sm"><h4>у</h4></button>
        <button type="button" class="btn btn-sm"><h4>ф</h4></button>
        <button type="button" class="btn btn-sm"><h4>х</h4></button>
        <button type="button" class="btn btn-sm"><h4>ц</h4></button>
        <button type="button" class="btn btn-sm"><h4>ч</h4></button>
        <button type="button" class="btn btn-sm"><h4>ш</h4></button>
        <button type="button" class="btn btn-sm"><h4>щ</h4></button>
        <button type="button" class="btn btn-sm"><h4>ъ</h4></button>
        <button type="button" class="btn btn-sm"><h4>ы</h4></button>
        <button type="button" class="btn btn-sm"><h4>ь</h4></button>
        <button type="button" class="btn btn-sm"><h4>э</h4></button>
        <button type="button" class="btn btn-sm"><h4>ю</h4></button>
        <button type="button" class="btn btn-sm"><h4>я</h4></button>
        <script src="{% static 'js/button_change.js'%}"></script>
            </div>


</div>
