<H2>Правила игры</H2>
<h5>
<!--    Задумано тайное число из 4х чисел. Вы вводите комбинации одну за другой, пока не отгадает всю-->
<!--    последовательность.-->
<!--    <br>-->
<!--    Например:<br>-->
<!--    Тайное число это «3219».<br>-->
<!--    Попытка: «2310».<br>-->
<!--    Результат: две «коровы» (две цифры: «2» и «3» — угаданы на неверных позициях) и один «бык» (одна цифра «1»-->
<!--    угадана-->
<!--    вплоть до позиции).<br>-->
    <p>Задумано тайное слово из 4х букв.
    Вы вводите слова одно за другим, пока не отгадаете.
    </p>
</h5>
<h6>
<p>Например:<br>
    тайное слово это «лиса».<br>
</p>
    Введение слова «лайм», дает результат:<br> 1 «корова» (1 буква: «а» — угадана, но на неверной позиции) и 1 «бык» (1 буква «л» угадана вплоть до позиции).<br>
<table class="table">
    <thead>
    <tr>
        <th scope="col"> №</th>
        <th scope="col">Слово</th>
        <th scope="col">Быки</th>
        <th scope="col">Коровы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" >...</th>
        <td> лайм </td>
        <td>1</td>
        <td>1</td>
    </tr>
    </tbody>
</table>
<p>Внимание! При введении слова с повторяющимися буквами, например, «мана», результат будет:<br> 1 «корова» (1 буква: «а» — угадана, но на неверной позиции) и 1 «бык» (1 буква «а» угадана вплоть до позиции).<br>
</p>
<table class="table">
    <thead>
    <tr>
        <th scope="col"> №</th>
        <th scope="col">Слово</th>
        <th scope="col">Быки</th>
        <th scope="col">Коровы</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row" >...</th>
        <td> мана </td>
        <td>1</td>
        <td>1</td>
    </tr>
    </tbody>
</table>
</p>
</h6>